<div class="main">
  <div class="copy-container">
    <h1>HappyTrade</h1>
    <h2>交換でHappyを広げよう!</h2>
    <%= image_tag "topmain.jpg", class:"main-image" %>
  </div>
  <div class="contents">
    <%= link_to "アイテム登録 ", new_item_path, class: :register %>
    <p class="register_nav">交換する商品を登録してね</p>
  </div>  
  
  <div class="item-contents">
    <h2>出品されているアイテム</h2>
      <ul class='item-lists'>

        <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
          <%= image_tag item.image.variant(resize: '250x250'), class: "item-img" %>
          </div>
          <% end %>
        
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
        </div>
        </li>
        <% end %>

      <% if @items.length == 0 %>
      <div class='no-item-list'>
        <h3>現在出品中のアイテムはありません。</h3>
      </div>
      <% end %>
      
      </ul>
  </div>




