<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>

  <% if user_signed_in? %>
    <% if current_user.id == @item.user_id %>  
      <%= link_to "アイテムの編集", edit_item_path(@item.id), method: :get, data: { turbo: false }, class: :item_green_btn %>
      <p class="or-text">or</p>
      <%= link_to "削除", "/items/#{@item.id}", data: { turbo_method: :delete }, class:"item-destroy" %>
    <% else %>  
      <%= link_to "アイテム交換画面に進む", data: { turbo: false }, class: :item_green_btn %>
    <% end %>
  <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">アイテム説明</th>
          <td class="detail-value"><%= @item.description %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">アイテムの状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_day.name %></td>
        </tr>
        <tr>
          <th class="wanted_item">獲得したいアイテム</th>
          <td class="wanted_value"><%= @item.wanted_item %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :content, class:"comment-text", id:"commentInput", placeholder: "コメントする", rows: "2" %>
        <%= form.submit "送信する", class:"send", data: { turbo: false } %>
      <button id='button' type='button' class='comment-button' data: { turbo: false }>交換を希望する</button>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
      <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.user.nickname %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
      </div>
      <div class="comments-answer">
      <%# ログインしていて、かつコメントが存在し、アイテムが未交換の状態か %>
      <% if user_signed_in? && @comment.present? %>
        <%# ログイン中のユーザーIDとアイテム出品者のユーザーIDが一致しているか %>
        <% if current_user.id == @item.user_id %>
          <%= link_to "交換を許可する" %>
          <%= link_to "お断り" %>
        <%# ログイン中のユーザーIDとコメントした人のユーザーIDが一致しているか %>
        <% elsif current_user.id == @comment.user_id %>
          <%# 交渉が成立した場合 %>
          <% if @item.trade.present? %>
            <%= "交渉が成立しました。交換画面へ進みましょう" %>
          <%# 交渉が成立しなかった場合 %>
          <% else %>
            <%= "残念ながら交渉が成立しませんでした。" %>
          <% end %>
        <%# アイテム出品者、コメント者のいずれでもない人%>
        <% else %>
          <%= "このアイテムはまだ交換の希望が出ていないか、もしくは交渉中の状態です。交渉中であっても交換が成立しない場合もあるため、希望があればコメントを残しておいてね" %>
        <% end %>
      <% end %>

      </div>
  </div>

  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>

