<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      これから交換するアイテム
    </h1>
    <%# 内容の表示 %>
    <div class='trade-item-info'>
      <%= image_tag @item.image, class: 'trade-item-img' %>
      <div class='trade-item-right-content'>
        <h2 class='trade-item-text'>
          <%= @item.item_name%>
        </h2>
      </div>
    </div>
    <%# /内容の表示 %>

    <%= form_with model: @trade, url: item_trades_path, data: { turbo: false }, local: true do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :item_id %>
    
    <div class='buy-btn'>
      <%= f.submit "交換する" ,class:"buy-red-btn", id:"button" %>
    </div>
    <% end %>
  </div>
</div>